<div id="content"></div>

<script>
  window.userIsLoggedIn = <%= logged_in? %>;

  window.NomNomsApp = window.NomNomsApp || {};

  priceRangeMapping = window.NomNomsApp.priceRangeMapping = [
    {0: "All"},
    {1: "$"},
    {2: "$$"},
    {3: "$$$"},
    {4: "$$$$"}
  ];

  distanceRangeMapping = window.NomNomsApp.distanceRangeMapping = [
    {0: ["804.672", ".5", ".5mi"]},
    {1: ["1609.34", "1", "1mi"]},
    {2: ["8046.72", "5", "5mi"]},
    {3: ["16093.4", "10", "10mi"]}
  ];

  window.NomNomsApp.images = {
    logoImage: "<%= image_path("nom-noms-logo.png") %>"
  };
</script>
