<div id="content"></div>

<script>
  window.userIsLoggedIn = <%= logged_in? %>;

  window.NomzApp = window.NomzApp || {};

  window.NomzApp.images = {
    logoImage: "<%= image_path("nom-noms-logo.png") %>"
  };
</script>
