<div id="content"></div>

<script>
  window.userIsLoggedIn = <%= logged_in? %>;

  window.NomNomsApp = window.NomNomsApp || {};

  window.NomNomsApp.images = {
    logoImage: "<%= image_path("nom-noms-logo.png") %>"
  };
</script>
