.shepherd-step {
  z-index: 4;
}

.shepherd-content > header {
  text-align: center;
}

.shepherd-content > .shepherd-text > p {
  text-align: center;
}

body > .shepherd-target-attached-bottom {
  width: 350px;
}

.shepherd-step[data-id="location-page"] {
  width: 350px;
}

.shepherd-step[data-id="map-marker"] {
  width: 350px;
}

.shepherd-step[data-id="go-to-your-page"] {
  width: 250px;
}
