.auth-page-form {
  width: 200px;
  margin: 50px auto;
  padding: 20px 60px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 5px;
}

.auth-page-form > button {
  padding: 5px;
  width: 75px;
  margin: 10px 65px 0 65px;
}

.auth-page-input-wrapper {
  width: 200px;
  margin: auto;
}

.auth-page-input-wrapper > button {
  padding: 5px;
  white-space: nowrap;
  margin: 10px 65px 0 65px;
}

.auth-page-input-wrapper > .auth-page-demo-account {
  margin: 0 40px;
}

.auth-page-input-wrapper > button:disabled {
  background: grey;
}

.auth-page-username, .auth-page-password, .auth-page-firstname, .auth-page-lastname {
  font-size: 16px;
  width: 195px;
  margin-top: 5px;
  border-radius: 5px;
}

.auth-page-input-wrapper > label {
  display: block;
  padding: 10px 0;
  font-weight: bold;
}

.new-user-errors-wrapper {
  width: 100%;
  height: 0;
  margin: 10px auto;
}

.new-user-errors-wrapper > li {
  display: inline-block;
  padding: 0 10px;
}

.login-error-wrapper {
  height: 10px;
  position: relative;
  top: -10px;
}
