.errors {
  visibility: hidden;
  background: transparent;
  opacity: 0;
  position: absolute;
  z-index: 5;
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  top: 10%;
  left: 40%;
  transition: opacity 1s ease, visibility 1s, background 1s;
}

.errors.active {
  background: orange;
  opacity: 1;
  visibility: visible;
}
