.footer-wrapper {
  background:#ffab62;
	width:100%;
	position:absolute;
	bottom: 0;
	left: 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.footer {
  width: 1000px;
  margin: auto;
  padding: 20px 0;
}

.footer-about {
  font-size: 16px;
  color: darkgrey;
  text-align: center;
  margin-top: 10px;
  float: left;
}

.footer-links {
  float: right;
}

.social-media-icon {
  display: inline;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.my-website-icon > img {
  border-radius: 10px;
}
