.home-page-wrapper {
  min-height: 800px;
  padding-bottom: 50px;
  background: #eee;
}

.home-page {
  width: 1000px;
  margin: auto;
}

.home-page-splash-video {
  width: 1000px;
  height: auto;
  border: 1px solid #ccc;
  margin-top: 50px;
  border-radius: 10px;
}

.home-page-splash-msg {
  display: none;
  color: #ccc;
  font-weight: bolder;
  transition: opacity 3s;
}

.home-page-splash-msg.inactive {
  display: block;
  opacity: 0;
  text-align: center;
}

.home-page-splash-msg.active {
  display: block;
  opacity: .8;
  text-align: center;
}

.home-page-splash-msg.first {
  font-size: 70px;
}

.home-page-splash-msg.second {
  font-size: 40px;
  margin-top: 20px;
}

.home-page-splash-msg.third {
  font-size: 24px;
  margin-top: 300px;
}

.msg-wrapper {
  position: relative;
  height: 0px;
  top: -530px;
}
