.location-show-page {
  margin: auto;
  background: white;
  min-height: 755px;
}

.main-header {
  border-bottom: 1px solid #ccc;
  background: #eee;
}

.sub-header {
  width: 1000px;
  margin: auto;
  padding: 20px;
}

.sub-header-info {
  float: left;
  white-space: nowrap;
}

.sub-header-info > h1 {
  font-size: 30px;
  font-weight: bold;
}

.sub-header-info > .review-rating-bar {
  float: left;
  margin: 0;
  padding: 0;
}
.sub-header-options {
  float: right;
}

.sub-header-options-review-button {
  padding: 7px;
  font-size: 20px;
}

.sub-header-info > .num-reviews-text {
  float: left;
  font-style: italic;
  font-weight: lighter;
  font-size: 14px;
  margin: 10px 0 10px 10px;
}

.sub-header-banner {
  position: relative;
  top: 50px;
}

.sub-header-banner-left-section {
  float: left;
  width: 350px;
  background: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.sub-header-banner-left-section > .search-index-map {
  width: 100%;
  height: 200px;
}

.sub-header-banner-left-section > a {
  font-size: 18px;
  text-decoration: underline;
  color: blue;
  margin: 5px 10px;
}

.sub-header-banner-left-section > label {
  display: block;
  font-size: 18px;
  margin: 5px 10px;
}

.sub-header-banner-left-section > .location-details-wrapper {
  margin: 5px 0;
  padding: 0 15px;
}

.location-show-page-review-wrapper {
  margin-top: 75px;
}

.sub-header-banner-left-section > .location-details-wrapper > .location-contact-details {
  width: 160px;
}

.sub-header-banner-cover-photo {
  float: right;
  margin-top: 20px;
}

.sub-header-banner-cover-photo > img {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 600px;
}

.location-show-page-review-section {
  background: white;
  margin-top: 50px;
}

.location-show-page-review-wrapper > .review-form {
  height: 50%;
}

.location-show-page-review-wrapper > .review-form > .review-form-header {
  height: auto;
}

.location-show-page-review-wrapper > .review-form > .review-form-content > .review-form-body {
  height: 75px;
}
