.location-search {
  float: left;
  width: 800px;
}

.location-search-filter-wrapper {

}

.location-search-bars-wrapper {
  float: left;
  margin: 15px 0 0 0;
}

.location-search-pseudo {
  position: relative;
}

.location-pseudo-input-text {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  left: 45px;
}

.location-type-search-input, .location-area-search-input {
  width: 275px;
  height: 30px;
  padding-left: 50px;
  border-color: lightgrey;
  font-size: 16px;
}

.location-search-button {
  float: right;
  margin-top: -60px;
}

.location-search-button > button {
  font-size: 30px;
  background: transparent;
  border: 0;
}

.location-type-autocomplete-list {
  position: absolute;
  left: 39px;
  top: 25px;
  width: 325px;
  background: white;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.location-type-autocomplete-list > li {
  border-top: 1px solid grey;
  padding: 5px;
}

.location-type-autocomplete-list > li:hover {
  background: #eee;
}

.location-filter-options-wrapper {
  float: right;
  margin: 15px 0 0 100px;
}

.location-filter-options-wrapper > * {
  float: left;
  padding: 0 65px 0 0;
}

.price-range-button, .distance-range-button {
  padding: 7px;
  color: white;
  font-size: 14px;
}
