.location-show-page {
  width: 1000px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
}

.main-header {
  border-bottom: 1px solid #ccc;
}

.location-show-page > .review-form {
  width: 50%;
  margin: 30px auto;
}

.location-show-page > .review-form > .review-form-content > .review-form-body {
  height: auto;
  width: 90%;
}
