.location-details {
  width: 65px;
  float: left;
}

.location-details > label {
  display: block;
}

.location-contact-details {
  margin-right: 10px;
  float: right;
}

.location-contact-details > label {
  display: block;
}
