.header {
  background-color: lightblue;
  border-bottom: 1px solid #ccc;
}

.nav-bar {
  width: 1200px;
  margin: auto;
}

.nav-bar-logo {
  float: left;
  margin: 10px 20px 10px 30px;
}

.nav-bar-logo > a {
  display:block;
}

.nav-bar-logo > a > img {
  width: 200px;
}

.nav-logged-out, .nav-logged-in {
  width: 100px;
  float: right;
  padding: 0 20px;
}

.nav-logged-in {
  margin: 14px 0 10px 0;
}

.nav-logged-out > button {
  font-size: 16px;
  width: 100px;
  padding: 3px;
  margin: 20px 0 0 0;
}

.nav-logged-in > button {
  font-size: 12px;
  width: 65px;
  padding: 2px;
  border: 1px solid darkgrey;
}

.nav-logged-in-tiny-pic > img {
  border: 1px solid darkgrey;
  width: 63px;
  height: 63px;
  border-radius: 10px;
}
