.auth-page {
  width: 900px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  background: white;
  padding: 50px;
  min-height: 650px;
}

.auth-page > h1 {
  font-size: 40px;
  text-align: center;
}

.auth-page > .auth-page-form {
  width: 200px;
  margin: 50px auto;
  padding: 20px 60px;
  border: 1px solid #ccc;
  background: #eee;
  border-radius: 5px;
}
