.review-index-item {
  border-top: 1px solid #ccc;
  padding: 20px 30px;
}

.review-index-item:last-child {
  border-bottom: 1px solid #ccc;
}

.review-index-item-side-bar {
  width: 100px;
  float: left;
}

.review-index-item-pic > img {
  border-radius: 10px;
}

.review-index-item-content {
  width: 80%;
  float: left;
  margin-left: 30px;
}

.review-index-item-content-header {
  border-bottom: 1px solid #ccc;
}

.review-creation-date {
  float: left;
  margin: 5px 0;
  padding: 0 15px;
}

.review-index-item-content-header > .review-rating-bar {
  margin: 0 0 20px 0;
  padding: 0;
}

.review-index-item-location-details-section > .review-rating-bar {
  float: left;
  padding: 0;
  margin: 0;
}

.review-index-item-body {
  width: 80%;
  padding: 20px;
  outline: 0;
}

.review-index-item-images {
  overflow-x: scroll;
}

.review-index-item-images > img {
  width: 320px;
}

.delete-review-button {
  float: right;
  padding: 5px;
  font-size: 12px;
}

.review-index-item-location-details {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #ccc;
}

.review-index-item-location-details > img {
  float: left;
  width: 150px;
  height: 75px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px 0;
}

.review-index-item-location-details-section {
  float: left;
  margin-left: 15px;
  width: 300px;
}

.review-index-item-location-details-section > * {
  float: left;
}

.review-index-item-location-details-section > h1 {
  width: 100%;
  text-decoration: underline;
  color: blue;
  font-size: 20px;
}

.review-index-item-location-details-section > label {
  width: 100%;
}
