.review-form-page {
  width: 1000px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
}

.review-form-page-header {
  min-height: 150px;
  width: 800px;
  margin: 0 auto;
  padding: 20px 0;
}

.review-form-page-header > h2 {
  font-size: 28px;
}

.header-details-figure > img {
  border-radius: 10px;
  width: 200px;
  height: auto;
  margin-top: 5px;
  float: left;
}

.header-details-wrapper {
  float: left;
  margin: 0 15px 0 30px;
  width: 250px;
}

.header-details-name > a {
  font-size: 20px;
  margin-top: 5px;
  color: blue;
}

.header-details-website > a {
  display: block;
  color: #0000EE;
  margin-top: 5px;
}

.header-details-description {
  display: block;
  white-space: nowrap;
}

.header-details-num-reviews {
  font-size: 12px;
  font-weight: lighter;
  font-style: italic;
  float: left;
  white-space: normal;
  margin: 5px 0 0 0;
}

.review-form-page-header > .location-details-wrapper {
  float: left;
}

.review-form-page-header > .location-details-wrapper > .contact-details > label {
  white-space: nowrap;
}

.review-form-page-header > .location-details-wrapper > .location-contact-details {
  margin-left: 50px;
}


.header-details-wrapper > .review-rating-bar {
  margin: 0;
  padding-top: 5px;
  padding-bottom: 0;
  width: 90%;
}
