.review-form {
  width: 800px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #eee;
}

.review-form-header {
  border-bottom: 1px solid #ccc;
}

.review-rating-bar {
  float: left;
  margin: 0 20px;
  padding: 20px 0;
}

.review-form-pic-input {
  float: left;
}

.review-rating-button {
  padding: 5px;
  font-size: 25px;
  background: lightblue;
  transition: all .2s ease-in-out;
}

.review-rating-button:hover {
  transform: scale(1.1);
}

.review-form-content {
  margin: 40px 40px 20px 40px;
}

.review-form-body {
  background: white;
  width: 680px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
}

.submit-review-button {
  margin: 0 40px 20px 40px;
  padding: 5px;
}

.review-form-pic-preview {
  width: 200px;
  border-radius: 10px;
}

.review-form-uploaded-pic {
  float: left;
}

.delete-uploaded-pic-button {
  position: absolute;
  font-size: 12px;
  padding: 3px;
  background: white;
  color: red;
  border-radius: 50%;
}

.delete-uploaded-pic-button:hover {

}

.submit-review-button.disabled {
  background: darkgrey;
}
