.search-index-item {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  font-size: 12px;
}

.search-index-item-img > img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.search-index-item-name > a {
  font-size: 20px;
  margin-top: 5px;
  color: blue;
}

.search-index-item-website > a {
  display: block;
  color: #0000EE;
  margin-top: 5px;
}

.search-index-item > .location-details-wrapper {
  margin-top: 5px;
}

.search-index-item > .review-rating-bar {
  margin: 0;
  padding: 0;
  margin-right: 5px;
}

.search-index-item > .review-rating-bar > .review-rating-button {
  font-size: 22px;
  padding: 0;
}

.search-index-item-number-of-ratings {
  display: block;
  text-align: left;
  font-size: 10px;
  font-style: italic;
  font-weight: lighter;
  margin: 4px 0;
}
