.search-results-page-wrapper {
  background-color: #eee;
  padding: 50px 0;
}

.search-results-page {
  background: white;
  width: 1000px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  min-height: 660px;
}

.search-index-map {
  float: right;
  width: 745px;
  height: 700px;
}
