// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  background-color: lightblue;
  border-bottom: 1px solid #ccc;
}

.nav-bar {
  width: 1200px;
  margin: auto;
}

.nav-bar-logo {
  float: left;
  margin: 10px auto;
}

.nav-bar-logo > img {
  width: 200px;
}

.location-search {
  float: left;
  margin: auto 50px;
}

.location-type-search, .location-address-search {
  width: 300px;
  height: 30px;
  margin: 42px 15px 42px 15px;
  border-radius: 5px;
  border-color: lightgrey;
  font-size: 16px;
}

.nav-logged-out, .nav-logged-in {
  width: 100px;
  float: left;
}

.nav-logged-out > button {
  color: white;
  background: #b20000;
  font-size: 16px;
  width: 100px;
  text-align: center;
  padding: 3px;
  margin: 20px 15px 0px 15px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.nav-logged-in > button {
  color: white;
  background: #b20000;
  font-size: 16px;
  width: 100px;
  text-align: center;
  padding: 3px;
  margin: 20px 15px 0px 15px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.nav-logged-out > button:hover {
  background-color:#bc3315;
}

.nav-logged-in > button:hover {
  background-color:#bc3315;
}

.auth-page {
  width: 800px;
  margin: auto;
}

.auth-page > h1 {
  font-size: 40px;
  text-align: center;
  margin: 50px 0 25px 0;
}

.auth-page > .auth-page-form {
  width: 200px;
  margin: auto;
  padding: 20px;
}

.auth-page-username, .auth-page-password{
  font-size: 16px;
  width: 200px;
}
