// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
  background-color: lightblue;
  border-bottom: 1px solid #ccc;
}

.nav-bar {
  width: 1200px;
  margin: auto;
}

.nav-bar-logo {
  float: left;
  margin: 10px 20px 10px 30px;
}

.nav-bar-logo > img {
  width: 200px;
}

.location-search {
  float: left;
}

.pseudo-input-text-type {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  left: 45px;
}

.pseudo-input-text-address {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  left: 31px;
}

.location-search-input {
  width: 275px;
  height: 30px;
  margin: 42px 0;
  padding-left: 50px;
  border-radius: 5px;
  border-color: lightgrey;
  font-size: 16px;
}

.nav-logged-out, .nav-logged-in {
  width: 100px;
  float: left;
}

.nav-logged-out > button {
  color: white;
  background: #b20000;
  font-size: 16px;
  width: 100px;
  text-align: center;
  padding: 3px;
  margin: 20px 15px 0px 15px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.nav-logged-in > button {
  color: white;
  background: #b20000;
  font-size: 16px;
  width: 100px;
  text-align: center;
  padding: 3px;
  margin: 20px 15px 0px 15px;
  border-radius: 3px;
  border: 1px solid black;
  cursor: pointer;
}

.nav-logged-out > button:hover {
  background-color:#bc3315;
}

.nav-logged-in > button:hover {
  background-color:#bc3315;
}

.auth-page {
  width: 800px;
  margin: auto;
}

.auth-page > h1 {
  font-size: 40px;
  text-align: center;
  margin: 50px 0 25px 0;
}

.auth-page > .auth-page-form {
  width: 200px;
  margin: auto;
  padding: 20px;
}

.auth-page-username, .auth-page-password{
  font-size: 16px;
  width: 200px;
}

.location-index-item-description {
  display: block;
  margin: 5px 10px;
}

.location-index-item-website {
  display: block;
  color: #0000EE;
  cursor: pointer;
  margin: 5px 10px;
}

.search-results-page {
  width: 900px;
  margin: auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: white;
  padding: 0 50px 50px 50px;
}

.location-index-item {
  width: 400px;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
}

.location-index-item:last-child {
  border-bottom: 1px solid #ccc;
}

.location-index-item:last-child > .location-index-item-contact-details {
  margin: 10px 10px 25px 10px;
}


.location-index-item-img {
  margin-top: 25px;
}

.location-index-item-img > img {
  border-radius: 10px;
}

.location-index-item-name {
  font-size: 26px;
  color: blue;
  cursor: pointer;
}

.location-index-item-details {
  width: 100px;
  float: left;
  margin: 10px 10px 0 10px;
}

.location-index-item-contact-details {
  width: 200px;
  float: right;
  margin: 10px 10px 0 10px;
}

.location-index-item-details > label {
  display: block;
}

.location-index-item-contact-details > label {
  display: block;
}

.location-index {
  margin: 15px;
  float: left;
}

.map {
  width: 400px;
  height: 400px;
}

.search-results-map {
  margin-top: 30px;
  float: right;
}

.location-search-button {
  float: right;
  margin: 34px 10px 34px 20px;
  cursor: pointer;
}

.location-search-button > img {
  width: 50px;
  height: 50px;
}
