.user-show-page {
  background: white;
  min-height: 83.6vh;
}

.user-show-page-header-wrapper {
  background: #eee;
  border-bottom: 1px solid #ccc;
  height: 250px;
}

.user-show-page-header {
  width: 1000px;
  margin: auto;
}

.user-show-page-header-floater-section {

}

.user-profile-pic {
  position: absolute;
  top: 150px;
}

.user-options {
  position: relative;
  top: 425px;
  width: 240px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user-profile-pic > img {
  max-height: 250px;
  width: 240px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user-show-page-header-mid-section {
  float:left;
  padding: 0 50px 0 292px;
  margin: 40px auto 0 auto;
  width: 400px;
  border-right: 1px solid #ccc;
}

.user-show-page-header-mid-section > h1 {
  font-size: 40px;
  font-weight: bold;
}

.user-show-page-images {
  position: relative;
  top: 60px;
  white-space: nowrap;
  width: 190px;
  overflow-x: auto;
}

.user-show-page-images > img {
  height: 150px;
  width: 150px;
  display: inline-block;
  margin: 0 0 0 30px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.user-show-page-header-stats {
  margin-top: 10px;
}

.user-show-page-header-stats > li:nth-child(2) {
  margin-top: 10px;
}

.user-show-page-content-wrapper {
  background: white;
}

.user-show-page-content {
  width: 1000px;
  margin: auto;
}

.user-show-page-content > .review-index {
  margin: 50px 25px;
}

.no-images {
  display: inline-block;
  width: 190px;
  height: 190px;
  border: 1px solid #ccc;
  margin: 40px 30px;
  border-radius: 10px;
}

.no-images > label {
  display: block;
  margin: 80px 0;
  text-align: center;
  opacity: .5;
}

.user-show-page-content > .review-index > .review-index-item > .review-index-item-content > .review-index-item-content-header > .review-rating-bar {
  padding: 0;
  margin: 0;
}

.user-show-page-content > .review-index > .review-index-item > .review-index-item-content > .review-index-item-content-header {
  padding: 15px;
}
